body {
	background-color: #000000;
	color: #FFFFFF;
	font-size: 16px;
	font-family: monospace;
	padding: 30px 30px;
}
#title {
	font-size: 25px;
}
#box {
	border: solid 2px;
	border-radius: 5px;
	width: 55%;
	margin: 5px;
	padding: 10px 10px;
}
#data {
	align: right;
	float: right;
}
#link {
	text-decoration: none;
	color: #FFFFFF;
}
