body {
	background-color: #000000;
	color: #FFFFFF;
	font-size: 16px;
	font-family: monospace;
	padding: 30px 30px;
}
#title {
	font-size: 25px;
}
#box {
	border: solid 2px;
	border-radius: 5px;
	width: 40%;
	margin: 5px;
	padding: 7px 7px;
}
#data {
	padding: 5px 5px;
	algin: right;
}
